nav > ul > li{
    display: inline;
}
nav > ul{
    border-radius: 50px;
    border: 5px solid black;
    text-align: center;
}
body{
    font-family: roboto;
}
#home{
    background-color: green;
    color: white;
    text-align: center;
}
img{
    padding: 50px;
    margin-left: 250px;
    border: 10px dashed black;
}
#work{
    background-color: skyblue;
}
.H4{
    text-align: center;
}
form{
    text-align: center;
    border: 20px dashed red;
}
.H1{
    text-align: center;
}